* {
  -webkit-user-select: none;
}

:focus {
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-app-region: drag;
}

.button {
  border: 1px solid hsl(0, 0%, 83%);
  border-radius: 6px;
}

#file-path {
  position: absolute;
  top: 20px;
  left: 14px;
  width: 503px;
  height: 24px;
  -webkit-app-region: no-drag;
  -webkit-user-select: text;
  text-overflow: ellipsis;
}

#load-file {
  position: absolute;
  top: 20px;
  right: 14px;
  width: 100px;
  height: 24px;
  -webkit-app-region: no-drag;
}

#flash-hex {
  position: absolute;
  bottom: 14px;
  left: 213px;
  height: 34px;
  width: 200px;
  -webkit-app-region: no-drag;
}

#flash-hex:hover {
  cursor: default;
}

#flash-hex:disabled:hover {
  cursor: not-allowed;
}

#gear-menu {
  position: absolute;
  bottom: 14px;
  left: 14px;
  /*height: 34px;*/
  /*width: 45px;*/
  padding: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-app-region: no-drag;
}

#gear-menu > span {
  font-size: 25px;
}


#status {
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  left: 14px;
  bottom: 62px;
  height: 340px;
  width: 612px;
  border-radius: 2px;
  overflow-y: scroll;
  white-space: pre-wrap;
  padding: 7px;
  -webkit-app-region: no-drag;
}

#status, #status b {
  -webkit-user-select: text;
}

.option-item {
  margin-top: 2ex;
}

.option-checkbox {
  margin-left: 8ex !important;
}
