html, body, .modal-content {
  color: #0a2040;
  background-color: #ebe7dd;
}

.btn, .button {
  background-color: #a40214;
  color: #dad4c4;
  border: none;
}

.dropdown-menu {
  font: menu;
}

#gear-menu > span {
  font-size: 25px;
}

#file-path, #status {
  font-size: 12px;
  color: #dad4c4;
  background-color: #0a2040;
}
